/* 
    Document   : numbers
    Created on : Feb 7, 2014, 10:38:57 PM
    Author     : Danny
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin-bottom: 120px;
}

.num, .num2 {
    font-size: 28px;
}

.num2 {
    background-color: lightsalmon;
}

.contains {
    background-color: lightgreen;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;       
    background-color: #F5F5F5;
}


.slider {

    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 10px;
}

#results {
    margin-top: 20px;
}

.numSet td, .mainNums td {
    text-align: center;   
    width: 15%;
}

.resultsTable td, .resultsTable th {
    text-align: center;
}
